{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    {% bootstrap_javascript %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'gameapp/css/style.css' %}">
</head>
<body>
    <h2>game page</h2>
    <div id="content">
        <form method="post" name="form">
            {% csrf_token %}
            <input type="hidden" id="target_time" name="target_time" value="5.000" />
            <input type="hidden" id="record" name="record" value="1.000" />
        </form>
        <div id="target"></div>
        <div id="button" class="button"></div>
        <div id="result"></div>
    </div>
    <script src="{% static 'gameapp/js/game_main.js' %}"></script>
</body>
</html>