{% extends "base.html" %}
{% load static %}

{% block main %}


<h2>Game Page</h2>
<div id="content">
    <a href="{% url 'game_record' %}">今までの記録</a>
    <form method="post" name="form">
        {% csrf_token %}
        <input type="hidden" id="target_time" name="target_time" value="5.000" />
        <input type="hidden" id="record" name="record" value="" />
    </form>
    <div id="target"></div>
    <div id="button" class="button"></div>
    <div id="result"></div>
</div>

<script type="text/javascript" src="{% static 'gameapp/js/game_main.js' %}"></script>

{% endblock %}